.wrapper {
  min-height: 200vh;
  background: $darker;
  box-shadow: 0 0 1rem $darker;
}

.content-parents {
  padding: 8rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.hidden-scroll {
  opacity: 0;
}

.fade-in-element {
  animation: fade-in-element 2s;
}

@keyframes fade-in-element {
  from {
    opacity: 0;
    transform: translate(0, 750px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.media {
  height: 75vh;
}

.media,
.content-child {
  box-shadow: 0 0 2rem black;
}

.content-child {
  width: 50vh;
  background-color: $dark;
  text-align: center;
  color: white;
  align-self: center;
}

.content-child h1 {
  font-size: 36px;
}

.content-child p {
  padding: 3rem;
  font-size: 28px;
}

// #child1:hover {

// }
