.footer {
  width: 100%;
  position: absolute;
  height: 20%;
  overflow: hidden;
}

.footer video {
  z-index: -1;
  width: 100%;
}

.footer-contents {
  position: absolute;
  display: flex;
  width: 100%;
  top: 35%;
  flex-direction: row;
  color: white;
  z-index: 4;
  text-align: center;
  font-weight: 800;
  font-size: 72px;
}

#footer1 {
  flex: 2;
  background: linear-gradient(135deg, #ff2242 15%, #e79736 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#footer2 {
  flex: 3;
  background: linear-gradient(-45deg, #3755f8 15%, #33abfa 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
