.intro {
  z-index: 1;
  background-attachment: fixed;
  //   background-size: cover;
  height: 100vh;
  color: white;
  background: linear-gradient(315deg, #0663f3, #ea1515);
  background-size: 400% 400%;
  animation: gradientbg 8s ease infinite,
    hint 1s cubic-bezier(0.645, 0.045, 0.355, 1) forwards 3.35s;
}

@keyframes gradientbg {
  0% {
    background-position: 2% 0%;
  }
  50% {
    background-position: 99% 100%;
  }
  100% {
    background-position: 2% 0%;
  }
}

@keyframes hint {
  from {
    height: 100vh;
  }
  to {
    height: 90vh;
  }
}

#intro-content span {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  font-style: italic;
  font-size: 3rem;
  animation: highlight 0.5s cubic-bezier(0.79, 0.14, 0.15, 0.86) forwards 2.5s;
}

@keyframes highlight {
  from {
    box-shadow: inset 0 0 0 0.01px $darker;
  }
  to {
    box-shadow: inset 775px 0 0 0 $dark;
  }
}
