.welcome-content {
  position: absolute;
  overflow: hidden;
  pointer-events: none;
  z-index: 1000;
  height: 100%;
  width: 100%;
  background-color: #222831;
  -webkit-animation: fade-into 1s ease forwards 2.5s;
          animation: fade-into 1s ease forwards 2.5s;
}

@-webkit-keyframes fade-into {
  from {
    background-color: #222831;
    z-index: 1000;
  }
  to {
    background-color: transparent;
    z-index: 10;
  }
}

@keyframes fade-into {
  from {
    background-color: #222831;
    z-index: 1000;
  }
  to {
    background-color: transparent;
    z-index: 10;
  }
}

body {
  -webkit-animation: stop-scroll 2.5s step-end forwards;
          animation: stop-scroll 2.5s step-end forwards;
}

@-webkit-keyframes stop-scroll {
  from {
    overflow: hidden;
  }
  to {
    overflow: visible;
  }
}

@keyframes stop-scroll {
  from {
    overflow: hidden;
  }
  to {
    overflow: visible;
  }
}

.welcome-intro {
  padding: 3rem;
  z-index: 50;
  position: absolute;
  pointer-events: fill;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1.5);
          transform: translate(-50%, -50%) scale(1.5);
  -webkit-animation: fill-in 0.5s ease forwards 2s;
          animation: fill-in 0.5s ease forwards 2s;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  -webkit-box-shadow: inset 0 0 0 0 #222831;
          box-shadow: inset 0 0 0 0 #222831;
}

@-webkit-keyframes fill-in {
  from {
    fill: transparent;
  }
  to {
    fill: white;
  }
}

@keyframes fill-in {
  from {
    fill: transparent;
  }
  to {
    fill: white;
  }
}

.welcome-intro:hover {
  -webkit-box-shadow: inset 0 0 0 150px #222831;
          box-shadow: inset 0 0 0 150px #222831;
}

.welcome-intro path {
  stroke-linejoin: round;
  stroke-linecap: round;
}

.welcome-intro path:nth-child(1) {
  stroke-dasharray: 578px;
  stroke-dashoffset: 578px;
  -webkit-animation: line-anim 2s ease forwards;
          animation: line-anim 2s ease forwards;
}

.welcome-intro path:nth-child(2) {
  stroke-dasharray: 386px;
  stroke-dashoffset: 386px;
  -webkit-animation: line-anim 2s ease forwards;
          animation: line-anim 2s ease forwards;
}

.welcome-intro path:nth-child(3) {
  stroke-dasharray: 458px;
  stroke-dashoffset: 458px;
  -webkit-animation: line-anim 2s ease forwards;
          animation: line-anim 2s ease forwards;
}

.welcome-intro path:nth-child(4) {
  stroke-dasharray: 501px;
  stroke-dashoffset: 501px;
  -webkit-animation: line-anim 2s ease forwards;
          animation: line-anim 2s ease forwards;
}

@-webkit-keyframes line-anim {
  to {
    stroke-dashoffset: 0px;
  }
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0px;
  }
}

body {
  overflow-x: hidden;
}

.cursor {
  top: -10rem;
  left: -10rem;
  width: 20px;
  height: 20px;
  border: 1px solid white;
  border-radius: 50%;
  position: fixed;
  z-index: 1000;
  pointer-events: none;
  -webkit-transition: 50ms ease-out;
  transition: 50ms ease-out;
}

.cursor::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  border: 8px solid gray;
  border-radius: 50%;
  opacity: 0.5;
  top: -8px;
  left: -8px;
}

@-webkit-keyframes cursorAnim3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(3);
            transform: scale(3);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
  }
}

@keyframes cursorAnim3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(3);
            transform: scale(3);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
  }
}

.expand {
  -webkit-animation: cursorAnim3 0.5s forwards;
          animation: cursorAnim3 0.5s forwards;
  border: 1px solid red;
}

.intro {
  z-index: 1;
  background-attachment: fixed;
  height: 100vh;
  color: white;
  background: linear-gradient(315deg, #0663f3, #ea1515);
  background-size: 400% 400%;
  -webkit-animation: gradientbg 8s ease infinite;
          animation: gradientbg 8s ease infinite;
}

@-webkit-keyframes gradientbg {
  0% {
    background-position: 2% 0%;
  }
  50% {
    background-position: 99% 100%;
  }
  100% {
    background-position: 2% 0%;
  }
}

@keyframes gradientbg {
  0% {
    background-position: 2% 0%;
  }
  50% {
    background-position: 99% 100%;
  }
  100% {
    background-position: 2% 0%;
  }
}

#intro-content span {
  position: absolute;
  bottom: 15%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  white-space: nowrap;
  font-style: italic;
  font-size: 3rem;
  -webkit-animation: highlight 0.5s cubic-bezier(0.79, 0.14, 0.15, 0.86) forwards 3.25s;
          animation: highlight 0.5s cubic-bezier(0.79, 0.14, 0.15, 0.86) forwards 3.25s;
}

@-webkit-keyframes highlight {
  from {
    -webkit-box-shadow: inset 0 0 0 0.01px #393e46;
            box-shadow: inset 0 0 0 0.01px #393e46;
  }
  to {
    -webkit-box-shadow: inset 775px 0 0 0 #393e46;
            box-shadow: inset 775px 0 0 0 #393e46;
  }
}

@keyframes highlight {
  from {
    -webkit-box-shadow: inset 0 0 0 0.01px #393e46;
            box-shadow: inset 0 0 0 0.01px #393e46;
  }
  to {
    -webkit-box-shadow: inset 775px 0 0 0 #393e46;
            box-shadow: inset 775px 0 0 0 #393e46;
  }
}

.navbar {
  margin: 0rem 0.5rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0.5rem;
  height: 0;
  z-index: 100;
}

#nav-items {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 3.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.transform-nav {
  background-color: rgba(255, 255, 255, 0.85);
  -webkit-box-shadow: 0rem 0rem 0.25rem black;
          box-shadow: 0rem 0rem 0.25rem black;
}

.a {
  padding: 0 3rem;
  text-decoration: none;
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -webkit-box-shadow: inset 0 0 0 0 white;
          box-shadow: inset 0 0 0 0 white;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.a:hover {
  -webkit-box-shadow: inset 0 -60px 0 0 white;
          box-shadow: inset 0 -60px 0 0 white;
}

#a_1 {
  margin-right: auto;
}

#a_1:hover {
  -webkit-box-shadow: inset 0 -60px 0 0 rgba(255, 34, 67, 0.75);
          box-shadow: inset 0 -60px 0 0 rgba(255, 34, 67, 0.75);
}

#a_2:hover {
  -webkit-box-shadow: inset 0 -60px 0 0 rgba(231, 151, 54, 0.75);
          box-shadow: inset 0 -60px 0 0 rgba(231, 151, 54, 0.75);
}

#a_3:hover {
  -webkit-box-shadow: inset 0 -60px 0 0 rgba(51, 170, 250, 0.75);
          box-shadow: inset 0 -60px 0 0 rgba(51, 170, 250, 0.75);
}

#a_help:hover {
  -webkit-box-shadow: inset 0 -60px 0 0 rgba(0, 175, 47, 0.75);
          box-shadow: inset 0 -60px 0 0 rgba(0, 175, 47, 0.75);
}

.transform-a {
  color: black;
}

#logo {
  height: 100%;
}

.category1 {
  z-index: 3;
  min-height: 25rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #222831;
  padding: 5rem 0rem;
  position: relative;
  -webkit-box-shadow: 0rem 0rem 1rem black;
          box-shadow: 0rem 0rem 1rem black;
}

.category1-items {
  z-index: 3;
  width: 20%;
  background-color: #393e46;
  -webkit-box-shadow: 0rem 0rem 1rem black;
          box-shadow: 0rem 0rem 1rem black;
  color: white;
  -webkit-transition: 0.3s all cubic-bezier(0.68, -0.55, 0.27, 1.55);
  transition: 0.3s all cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.category1-items * {
  padding: 1rem 2rem;
}

#items_1_2 {
  height: 100%;
  padding: 0;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  background: none;
  opacity: 0;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

#bg_1 {
  background: linear-gradient(135deg, #ff2242 15%, #e79736 100%);
}

#bg_2 {
  background: linear-gradient(45deg, #ff2242, #e79736, #3755f8, #33abfa, #00af2e);
}

#bg_3 {
  background: linear-gradient(-45deg, #3755f8 15%, #33abfa 100%);
}

.category1-items:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0rem 0rem 3rem black;
          box-shadow: 0rem 0rem 3rem black;
}

#items_1_1:hover ~ #bg_1 {
  opacity: 1;
}

#items_1_2:hover ~ #bg_2 {
  opacity: 1;
}

#items_1_3:hover ~ #bg_3 {
  opacity: 1;
}

.category2 {
  position: relative;
  min-height: 200vh;
  background-color: #393e46;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.layer1 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30rem;
  margin: 3rem 0;
}

.overlap-parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.overlap-pics {
  /* width: 0; */
  position: relative;
  height: 0;
  width: 100%;
  margin: 3rem;
  z-index: 4;
}

.overlap-pics-indv {
  position: absolute;
  border-radius: 0.2rem 1rem;
  -webkit-box-shadow: 0rem 0rem 1rem black;
          box-shadow: 0rem 0rem 1rem black;
  -webkit-transition: 0.5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  transition: 0.5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.overlap-pics-indv:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  z-index: 2;
}

.overlap-pics:hover .overlap-pics-indv:not(:hover) {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  opacity: 0.3;
}

#oppics_1 {
  top: 5rem;
  left: 25rem;
}

#oppics_2 {
  top: -2rem;
  left: 15rem;
}

#oppics_3 {
  top: 7rem;
  left: 10rem;
}

.pop-text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

html::-webkit-scrollbar {
  width: 0.5rem;
  background-color: #222831;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

html::-webkit-scrollbar-thumb {
  background: #393e46;
}

body {
  margin: 0;
  border: 0;
  font-family: "Source Sans Pro", sans-serif;
}

html {
  scroll-behavior: smooth;
}
/*# sourceMappingURL=styles.css.map */