body{
    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.container{
    position: relative;
    z-index: 0;
}

.bar{
    position: sticky;
    top: 0;
    background-color: lightblue;
    padding: 1rem;
    text-align: center;
    z-index: 100;
}

.container{
    margin: 0 0rem;
}

.main{
    position: relative;
    background-image: url('1232.WWDC_2019_Dark-1024w-1366h@2xipad.png');
    background-size: cover;
    background-position: center;
    padding: 5rem 2rem 10rem 2rem;
    border: solid red;
    color: white;
}

.button{
    background: none;
}
