body {
    margin: 0;
    border: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    background-color: #393e46;
}

.container {
    position: relative;
    z-index: 0;
    color: #eeeeee;
}

.bar {
    margin: 0rem 0 1rem 0rem;
    position: sticky;
    top: 0;
    background-color: #222831;
    color: #2bced6;
    padding: 1rem;
    text-align: center;
    z-index: 100;
    box-shadow: 0rem 0rem 1.5rem black;
}

.logo {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}

.main {
    position: relative;
    background-image: url("1232.WWDC_2019_Dark-1024w-1366h@2xipad.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 5rem 2rem 10rem 2rem;
    color: #eeeeee;
    box-shadow: 0rem 0rem 1.5rem black;
}

.main h1 {
    font-size: 3.5rem;
    font-style: italic;
}

.button {
    position: relative;
    top: 2rem;
    background-color: #00adb5;
    border-radius: 0.5rem 1rem;
    border: .1rem solid white;
    color: #222831;
    font-size: 1.2rem;
    font-style: italic;
    font-weight: bolder;
    padding: 0.5rem 1.5rem;
}

.bot {
    padding: 1rem;
}

.bot h2 {
    color: #2bced6;
}
