body{
    cursor: none;
    overflow-x: hidden;
    // pointer-events: none;    
}

*{
    cursor: none;
}

#cursor{
    width: 20px;
    height: 20px;
    border: 1px solid white;
    border-radius: 50%;
    position: absolute;
    z-index: 1000;
    pointer-events: none;
    transition: 50ms ease-out;
    animation: cursorAnim .5s infinite alternate;
}

@keyframes cursorAnim{
    from{
        transform: scale(1.5);
    }
    to{
        transform: scale(1);
    }
}

#cursor::after{
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    border: 8px solid gray;
    border-radius: 50%;
    opacity: .5;
    top: -8px;
    left: -8px;
    animation: cursorAnim2 .5s infinite alternate;
}

@keyframes cursorAnim2{
    from{
        transform: scale(1.2);
    }
    to{
        transform: scale(.4);
    }
}