.intro{
    z-index: 1;
    background: url('../media/intro_background.png');
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    color: white;
}

.intro-content{
    z-index: 2;
    position: fixed;
    bottom: 30%;
    left: 10%;
}

.intro-content h1{
    margin: 1rem 0;
    font-size: 72px;
}

.intro-content p{
    font-size: 28px;
    // margin: 1rem;
    font-style: italic;
}