.navbar {
  margin: 0rem 0.5rem;
  position: sticky;
  top: 0.5rem;
  height: 0;
  z-index: 100;
}

#nav-items {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 3.75rem;
  display: flex;
  align-items: center;
  transition: 0.5s ease;
}

.transform-nav {
  background-color: rgba(255, 255, 255, 0.85);
  box-shadow: 0rem 0rem 0.25rem black;
}

.a {
  padding: 0 3rem;
  text-decoration: none;
  color: white;
  transition: 0.5s;
  display: flex;
  align-items: center;
  height: 100%;
  box-shadow: inset 0 0 0 0 white;
  transition: 0.3s ease;
}

.a:hover {
  box-shadow: inset 0 -60px 0 0 white;
  // color: black;
}

.a::after {
  content: "";
  box-shadow: inset 0 -60px 0 0 grey;
}

#a_1:hover {
  box-shadow: inset 0 -60px 0 0 rgba(255, 34, 67, 0.75);
}

#a_2:hover {
  box-shadow: inset 0 -60px 0 0 rgba(231, 151, 54, 0.75);
}

#a_3:hover {
  box-shadow: inset 0 -60px 0 0 rgba(51, 170, 250, 0.75);
}

#a_help:hover {
  box-shadow: inset 0 -60px 0 0 rgba(0, 175, 47, 0.75);
}

.transform-a {
  color: black;
}

#logo {
  height: 100%;
  margin-right: auto;
}
