.navbar{
    margin: 0rem .5rem;
    position: sticky;
    top: .5rem;
    height: 0;
    z-index: 10;
}

#nav-items{
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 3.75rem;
    display: flex;
    align-items: center;
    transition: 0.5s;
}

.transform-nav{
    background-color: rgba(255, 255, 255, 0.85);
    box-shadow: 0rem 0rem .25rem black;
}

.a{
    margin: 0 3rem;
    text-decoration: none;
    color: white;
    transition: 0.5s;
}

.transform-a{
    color: black;
}

#logo {
    height: 100%;
    margin-right: auto;
  }
  
