.navbar{
    margin: 0rem .5rem;
    // border: 1rem solid red;
    // box-shadow: 0rem 0rem .5rem;
    // position: absolute;
    position: sticky;
    top: .5rem;
    height: 0;
    // background-color: white;
    // color: white;

}

.nav-items{
    list-style-type: none;
    margin: 0;
    padding: 0;
    // overflow: hidden;
    height: 3.75rem;
    display: flex;
    justify-content: right;
    align-items: center;
    // color: white;
}

li{
    padding: 1rem 1.5rem;
    color: white;
}

li a{
    text-decoration: none;
    color: white;
}

#logo{
    position: absolute;
    left: 0;
    // height: 100%;
    // width: 10%;
    height: 4rem;
}