.intro {
  z-index: 1;
  background: url("../media/intro_background.png");
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  color: white;
}

.intro-content {
  z-index: 2;
  position: fixed;
  bottom: 30%;
  left: 10%;
}

.intro-content h1 {
  margin: 1rem 0;
  font-size: 72px;
}

.intro-content p {
  font-size: 28px;
  font-style: italic;
}

.button {
  display: inline-block;
  position: relative;
}

#intro-button {
  padding: 0 3rem;
  border: .25rem solid;
  border-image-source: linear-gradient(to top right, #6e7c5e, #4b7f85);
  border-image-slice: 10;
  background-color: #222831;
  color: white;
  text-decoration: none;
  font-size: 36px;
  font-style: italic;
  text-align: center;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

#intro-button:hover {
  background: -webkit-gradient(linear, left bottom, right top, from(#4b7f85), to(#6e7c5e));
  background: linear-gradient(to top right, #4b7f85, #6e7c5e);
  color: black;
}

.navbar {
  margin: 0rem .5rem;
  position: -webkit-sticky;
  position: sticky;
  top: .5rem;
  height: 0;
  z-index: 10;
}

#nav-items {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 3.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.transform-nav {
  background-color: rgba(255, 255, 255, 0.85);
  -webkit-box-shadow: 0rem 0rem .25rem black;
          box-shadow: 0rem 0rem .25rem black;
}

.a {
  padding: 0 3rem;
  text-decoration: none;
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.transform-a {
  color: black;
}

#logo {
  height: 100%;
  margin-right: auto;
}

.category1 {
  z-index: 3;
  min-height: 25rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #222831;
  padding: 5rem 0rem;
  position: relative;
  -webkit-box-shadow: 0rem 0rem 1rem black;
          box-shadow: 0rem 0rem 1rem black;
}

.category1-items {
  z-index: 4;
  width: 20%;
  background-color: #393e46;
  -webkit-box-shadow: 0rem 0rem 1rem black;
          box-shadow: 0rem 0rem 1rem black;
  color: white;
  -webkit-transition: 0.3s all cubic-bezier(0.68, -0.55, 0.27, 1.55);
  transition: 0.3s all cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.category1-items * {
  padding: 1rem 2rem;
}

#items_1_2 {
  height: 100%;
  padding: 0;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  background: none;
  opacity: 0;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

#bg_1 {
  background: linear-gradient(135deg, #ff2242 15%, #e79736 100%);
}

#bg_2 {
  background: linear-gradient(-45deg, #3755f8 15%, #33abfa 100%);
}

.category1-items:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0rem 0rem 3rem black;
          box-shadow: 0rem 0rem 3rem black;
}

#items_1_1:hover ~ #bg_1 {
  opacity: 1;
}

#items_1_3:hover ~ #bg_2 {
  opacity: 1;
}

.category2 {
  height: 100vh;
  position: relative;
  background-color: black;
  z-index: 3;
}

body {
  margin: 0;
  border: 0;
  font-family: 'Source Sans Pro',sans-serif;
}
/*# sourceMappingURL=styles.css.map */