@import "variables";

@import "intro";
@import "nav";
@import "category1";
@import "category2";
@import "category3";

body{
    margin: 0;
    border: 0;
    font-family: 'Source Sans Pro',sans-serif;
}